.button-green {
    /* Orange
    background-color: #ec642d;  */
    /* Green */
    background-color: #2e6f7d;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-orange {
    /* Orange */
    background-color: #ec642d; 
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}