.header{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    height: 10vh;
    min-height: 100px;
    /* border: 1px solid #f01; */
    border-bottom: 3px solid #2e6f7d;
    
}

.header__logo{
    height: 70px;
    margin: 15px;
    margin-bottom:0px;
    padding: 10px;
}

.header__button{
    width: 150px;
    height: 50px;
    margin: 40px;
    margin-bottom:30px;
    padding: 10px;
    border: none;
    border-radius: 25px;

    background-color: #2e6f7d;
    color: white;
}

.header__button:hover {
    background-color: #2e6f7dcc;
    color: white;
    border: solid 1px #2e6f7d;
}