.home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin: 0px;
    height: 80vh;
    /* border: 1px solid #10f; */
    
}

.home__img{
    /* display: flex;
    position: absolute;
     */
    background-image: url(../assets/images/background-image.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 75%;
    /* display: block; */
    color: white;
    font-size: 3rem;
    padding-top: 50px;

}

.home__p{
    margin: 0px;
    padding-top: 20px;
}

.home__button{
    width: 150px;
    height: 60px;
    margin: 40px;
    padding: 10px;
    border: none;
    border-radius: 25px;

    background-color: #ec642d;
    color: white;
}